In [15]:
import sklearn as sk
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [7]:
#Как было видно из предудыщей лр, лучшую корреляцию показывают цена и мощность двигателя
#Попробуем обучить модель и достроить пустые ячейки
car_to_ml=pd.read_csv('C:/Users/Dima/Desktop/bd/german_car.csv')
car_to_ml=car_to_ml[(car_to_ml.price_eur>0)&(car_to_ml.engine_power>0)][['price_eur', 'engine_power']]
car_to_ml

      price_eur  engine_power
1        111.03          90.0
2       9622.50         140.0
3       3145.82         132.0
4       6106.59         132.0
10      2405.63         110.0
...         ...           ...
2945    2405.63         132.0
2946   34604.00         324.0
2947    3293.86         132.0
2948    2586.97         103.0
2949    2405.63         100.0

[1043 rows x 2 columns]

In [10]:
train_price = np.array(car_to_ml.price_eur)[:-20].reshape(-1, 1)
train_price

array([[  111.03],
       [ 9622.5 ],
       [ 3145.82],
       ...,
       [10695.78],
       [ 3663.95],
       [13656.55]])

In [12]:
train_power = np.array(car_to_ml.engine_power)[:-20]
train_power

array([ 90., 140., 132., ..., 171.,  77.,  95.])

In [17]:
pricepower_regressor=LinearRegression().fit(train_price, train_power)

In [20]:
pricepower_regressor.score(np.array(car_to_ml.price_eur)[-20:].reshape(-1, 1), np.array(car_to_ml.engine_power)[-20:])

0.4966996735218663